/* .ascii-art-previewer {
  overflow-y: scroll;


} */
.ascii-preview {
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  font-size: 11pt;
  line-height: normal;
}

.ascii-preview span {
  white-space: pre;
}

.preview-error {
  margin-left: 1em;
}
